@charset "utf-8";
/* CSS Document */
.pozadina{
	background-color:rgb(124, 62, 143)
}

p{
	background-color:rgb(255, 198, 13);
	padding:10px;
	font-family: "bubblegum-sans";
	font-size:15px;
	line-height:17px;
	width:800px;
	
}

#Naslov{
	text-align: center
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(255, 3, 242);
  padding: 10px;
}

img{
	height: 400px;
}